#footer {
  background-color: lightgray;
  height: 11.5%;
  width: 100%;
  outline: 4px solid darkgray;
  outline-offset: -4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
  opacity: 60%;
}
#impressum {
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
}
#btnImpressum {
  width: 20%;
  height: 15%;
  margin-left: 3vw;
  background-color: #ffffff;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid darkgray;
}
.noDeco {
  text-decoration: none;
  color: black;
}
.openHour{
  border: 1px solid;
  display: block;
  position: relative;
  color: black;
  font-size: bold;
  background-color: #ffffff;
  margin: 20px;
}

