#home1 {
  height: 25vh;
  width: 100%;
}
.menu {
  z-index: 5;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: rgba(170, 255, 170, 0.3);
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuContainer {
  width: 40vw;
  display: flex;
}
#menuButton {
  color: darkgreen;
  margin: 1vw;
}
.menuItem {
  font-weight: bold;
  border-style: solid;
  padding: 1vh;
  background: rgba(50, 50, 50, 0.3);
}
.centerContent {
  position: relative;
  top: 25%;
  text-align: center;
  color: #aaffaa;
}
#titleImage {
  width: 100%;
  height: 100%;
}
#logo {
  position: absolute;
  left: 20vw;
  width: 5vh;
}
.icon {
  position: absolute;
  max-height: 3vw;
  top: 2vh;
  border-radius: 20px;
}
#cart {
  left: 90vw;
}
#controlIcon {
  left: 94vw;
  cursor: pointer;
}
#controlPanel {
  background-color: lightgray;
  position: absolute;
  left: 87vw;
  top: 9vh;
  width: 10vw;
  border: 4px solid;
  padding-bottom: 5px;
  font-weight: 550;
  border-radius: 5px;
  display: none;
}
.noDeco {
  text-decoration: none;
  color: black;
}



