#home1 {
  height: 25vh;
  width: 100%;
}
.menu {
  z-index: 5;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: transparent;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuContainer {
  width: 40vw;
  display: flex;
  justify-content: center;
}
#menuButton {
  color: darkgray;
  margin: 1vw;
}
.menuItem {
  font-weight: bold;
  border: 2px solid;
  padding: 2vh;
  background: lightgray;
  opacity: 80%;
  padding-left: 3vh;
  padding-right: 3vh;
}
.centerContent {
  position: relative;
  top: 25%;
  text-align: center;
  color: black;
}
#titleImage {
  width: 100%;
  height: 100%;
}
#logo {
  position: absolute;
  left: 20vw;
  width: 7vh;
  opacity: 80%;
}
.icon {
  position: absolute;
  max-height: 3vw;
  top: 2vh;
  
}
#cart {
  left: 90vw;
}
#controlIcon {
  left: 94vw;
  cursor: pointer;
}
#controlPanel {
  background-color: lightgray;
  position: absolute;
  left: 87vw;
  top: 9vh;
  width: 10vw;
  border: 2px solid;
  padding-bottom: 5px;
  font-weight: 550;
  border-radius: 5px;
  display: none;
}
.noDeco {
  text-decoration: none;
  color: black;
}
.dropbtn{
  display: none;
}