doctype html
h3 /user/&ltID&gt
#container.col
  p
    | Returns information about user with &ltID&gt, like name, address as JSON. Requires coworker privileges 
    br
    br
    |                     &quot;name&quot;: &quot;heiss&quot;
    br
    |                     &quot;prename&quot;: &quot;fettig&quot;