doctype html
h3 /user/&ltID&gt
#container.col
  p
    | Returns information about user with &amp;ltID&amp;gt like name, address as JSON
    br
    br
    |                     &quot;name&quot;: &quot;heiss,
    br
    |                     &quot;prename&quot;: &quot;fettig&quot;