<html>

<head>

</head>

<body style="padding-left: 2%; padding-top: 1%;">

  <h3>/user/&lt;ID&gt;</h3>
  <p>
    Returns information about user with &ltID&gt, like name, address as JSON. Requires coworker privileges
    <br>
    <br>
    {
    prename: &lt;prename&gt;, name: &lt;name&gt;, points: &lt;loyal points&gt;, street: &lt;street nr&gt;, <br>
    city: &lt;city&gt;, additionalAddress: &lt;additionalAddress&gt;, postcode: &lt;postcode&gt;, accessLevel:
    &lt;accessLevel&gt;
    }
  </p>

  <h3>/account/</h3>
  <ul>
    <h4>.../login</h4>
    <ul>
      Send credentials via POST as { email: "&lt;mail&gt;", password: &lt;password&gt; }. If succedd it returns <br><br>
      { prename:
      &lt;prename&gt;, name: &lt;name&gt;,<br> points: &lt;loyal points&gt;, accessLevel: &lt;accessLevel&gt; } <br><br>
      erro code 401 if credentials are wrong.<br><br><br>
      Access Levels:<br><br>
      Guest:0<br>
      User: 5<br>
      Coworker: 8<br>
      Admin: 10
    </ul>
    <h4>.../logout</h4>
    <ul>
      Just send a POST request with "connect.sid" cookie set. The server will delete the associated session. This cookie
      can be deleted. On error just delete the "connect.sid" cookie anyway.
    </ul>
  </ul>

  <h3>/news/</h3>
  <ul>
    <h4>.../new</h4>
    <ul>
      Just send a GET request and you will receive<br>
      { title: &lt;title&gt;, message: &lt;message&gt;}
    </ul>
  </ul>
  <ul>
    <h4>.../all</h4>
    <ul>
      Just send a GET request and you will receive<br>
      { news: &lt;news[][]&gt;}
    </ul>
  </ul>
</body>

</html>