
body {
	margin: 0;
	padding: 0;
	background-color: #DDEEDD;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: rgb(179, 179, 179);
}

#page {
	width: 100%;
	display: block;
	font-size: large;
	min-height: calc(100vh - 25vh - 11.5vh);
}

#left {
	display: inline-block;
    width: 50%;
	margin-left: 10%;
}

#methode {
	padding: 20px;
}

.count input {
	width: 100%;
}

#right {
	float: right;
    margin-top: 4vh;
	margin-right: 10vw;
    width: max-content;
	text-align: right;
}
.small {
	font-size: small;
}
#right #submit {
	width: 100%;
}

.tableWrapper{
	width: 80%;
	height: 25%;
	overflow: auto;
}

table {
	width: 100%;
}

td.num{
	width: 15%;
}

td.name{
	width: 60%;
}

td.price td.count td.remove {
	width: 15%;
}

td.count {
	padding: 5px;
}

td.remove {
	padding: 5px;
}

tr:nth-child(even) {
	background-color: #a7a7a7;
}

#noticeWrapper{
	margin-top: 5%;
}

#notice{
	height: 10%;
	width: 80%;
	overflow: auto;
	resize: none;
	font-weight: bold;
	font-size: 16px;
}

/*  MEDIA QUERY

  --> for all divices 
  --> max-with: 600px 

*/

@media all and (max-width: 600px){
	/*
	  -------- NAV-BAR --------
	*/ 
	.menu{
	  background-color: transparent;
	}
	.menuContainer {
	  display: none;
	}
	#logo{
	  display: none;
	}
	.icon {
	  display: none;
	}
	 /*
	  -------- BANNER --------
	*/
	#banner_full {
	  background-image: url(https://cdn.gutekueche.de/upload/rezept/10862/1600x1200_rib-eye-steak.jpg);
	  position: relative;
	  width: 100%;
	  height: fit-content;
	}
	#banner_full .banner_logo {
		position: relative;
		color: white;
		text-shadow: 0 0 15px #000;
		font-weight: bold;
		font-family: "Lucida Console", Courier, monospace;
		text-align: center;
		font-size: 50px;
		top: 1px;
	}
	#banner_full .banner_logo img {
	  display: none;
	}
	/*
	  -------- FOOTER --------
	*/
	#impressum {
	  display: flex;
	  width: fit-content;
	}
	#btnImpressum {
	  width: fit-content;
	  height: fit-content;
	  margin-left: 3vw;
	  background-color: #67811a;
	}
	/*
	 -------- CART --------
	*/
  }