html body{
    margin: 0px;
    padding: 0px;
}

#page {
    width: 100vw;
    height: 76vh;
    display: flex;
    justify-content: center;
    background-color: #AEAEAE;
}

#container{
    width: 40%;
    height: 70%;
    margin-top: 5%;
    display: flex;
}

.half {
    width: 50%;
}
  
#left {
    border-right: 1px solid;
}
  
#right {
    border-left: 1px solid;
}

h1 {
    margin-bottom: 15%;
}

input {
    position: relative;
    width: 80%;
    left: 10%;
    border: 1px solid;
    height: 6%;
}

button {
    position: relative;
    width: 70%;
    height: 6%;
    left: 15%;
    margin-top: 10%;
    background-color: #2CA02C;
    border: 2px solid;
    font-weight: bold;
}

.text {
    position: relative;
    left: 10%;
}

/*  MEDIA QUERY

  --> for all divices 
  --> max-with: 600px 

*/

@media all and (max-width: 600px){
    /*
      -------- NAV-BAR --------
    */ 
   /*
    -------- NAV-BAR --------
  */ 
  .menu{
    background-color: transparent;
  }
  .menuContainer {
    display: none;
  }
  #logo{
    display: none;
  }
  .icon {
    display: none;
  }
  .dropbtn {
    background-color: #44aa00;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid white;
    cursor: pointer;
  }
  .menu {
    position: fixed;
    display: inline-block;
  }
 .menuContainer {
    display: none;
    position: relative;
    border: 1px solid white;
    background-color: gray;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 90%;
  }
  .menuContainer a {
    padding: 10px 12px;
    text-decoration: none;
    display: block;
  }
  .show {display: block;}
     /*
      -------- BANNER --------
    */
    #banner_full {
      background-image: url(https://cdn.gutekueche.de/upload/rezept/10862/1600x1200_rib-eye-steak.jpg);
      position: relative;
      width: 100%;
      height: fit-content;
    }
    #banner_full .banner_logo {
        position: relative;
        color: white;
        text-shadow: 0 0 15px #000;
        font-weight: bold;
        font-family: "Lucida Console", Courier, monospace;
        text-align: center;
        font-size: 50px;
        top: 1px;
    }
    #banner_full .banner_logo img {
      display: none;
    }
    /*
      -------- FOOTER --------
    */
    #impressum {
      display: flex;
      width: fit-content;
    }
    #btnImpressum {
      width: fit-content;
      height: fit-content;
      margin-left: 3vw;
      background-color: #67811a;
    }
    /*
     -------- LOGIN --------
    */   
    #page {
      padding-bottom: 20px;
      position: relative;
      width: 100vw;
      height: fit-content;
      background-color: #AEAEAE;
    }
    #container{
      width: 70%;
      height: 70%;
      margin-top: 5%;
      display: block;
    }
    .half {
      width: 100%; 
    }
    #left {
      border-right: none; 
      padding-bottom: 20px; 
    }  
    #right {
       padding-top: 20px;
       border-top: 1px solid;  
       border-left: none;
    }
    h1 {
      margin-top: auto;
      margin-bottom: auto;
      text-align: center;
    }
    input {
      position: relative;
      width: 80%;
      left: 10%;
      border: 1px solid;
      height: 6%;
    }
    button {
      position: relative;
      width: 70%;
      height: 6%;
      left: 15%;
      margin-top: 10%;
      background-color: #2CA02C;
      border: 2px solid;
      font-weight: bold;
    }
    .text {
      position: relative;
      left: 10%;
    }
    
 }