
body {
	margin: 0;
	padding: 0;
	background-color: #DDEEDD;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: rgb(179, 179, 179);
}

#page {
	width: 100%;
	display: block;
	min-height: calc(100vh - 25vh - 11.5vh);
}
#page h1 {
	padding-top: 20px;
	font-weight: bold;
    text-align: center;
	color: #332522;
}

#card {
	table-layout: fixed;
	text-align: center;
	font-size: large;
	width: 100%;
}
#card .colOuter {
	width: 100px;
}
#card .colInner {
	width: 200px;
}
#card .item tr {
	width: 100%;
}
#card .item .basket {
	width: 30px;
	height: auto;
	background-color: bisque;
}
#card .item .basket:hover {
	cursor: pointer;
}
/*  MEDIA QUERY

  --> for all divices 
  --> max-with: 600px 

*/

@media all and (max-width: 600px){
	/*
	  -------- NAV-BAR --------
	*/ 
	.menu{
	  background-color: transparent;
	}
	.menuContainer {
	  display: none;
	}
	#logo{
	  display: none;
	}
	.icon {
	  display: none;
	}
	 /*
	  -------- BANNER --------
	*/
	#banner_full {
	  background-image: url(https://cdn.gutekueche.de/upload/rezept/10862/1600x1200_rib-eye-steak.jpg);
	  position: relative;
	  width: 100%;
	  height: fit-content;
	}
	#banner_full .banner_logo {
		position: relative;
		color: white;
		text-shadow: 0 0 15px #000;
		font-weight: bold;
		font-family: "Lucida Console", Courier, monospace;
		text-align: center;
		font-size: 50px;
		top: 1px;
	}
	#banner_full .banner_logo img {
	  display: none;
	}
	/*
	  -------- FOOTER --------
	*/
	#impressum {
	  display: flex;
	  width: fit-content;
	}
	#btnImpressum {
	  width: fit-content;
	  height: fit-content;
	  margin-left: 3vw;
	  background-color: #67811a;
	}
	/*
	 -------- MENU --------
	*/
  }
