body{
  height: 100vh;
  margin: 0;
	padding: 0;
	background-color: #DDEEDD;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: rgb(179, 179, 179);
}

.news .content {
  float: left;
  width: 100%;
  margin: 2%;
  margin-top: 18px;
}
.news h3 {
  margin-top: 0;
}
.news textarea {
  width: 100%;
  resize: none;
}
.news .buttons {
  width: 7%;
  margin-top: 18px;
}
.news .news-icon {
  margin-left: 8px;
	width: 30px;
	height: auto;
	background-color: bisque;
}
.news .news-icon:hover {
  cursor: pointer;
}


.right {
  float: right;
}

#news-container {
  margin-left: 10vw;
  margin-right: 10vw;
  min-height: calc(100vh - 25vh - 11.5vh);
}
