body{
  height: 100vh;
  margin: 0;
	padding: 0;
	background-color: #DDEEDD;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: rgb(179, 179, 179);
}

.news .content {
  float: left;
  width: 100%;
  margin: 2%;
  margin-top: 18px;
}
.news h3 {
  margin-top: 0;
}
.news textarea {
  width: 100%;
  resize: none;
}
.news .buttons {
  width: 7%;
  margin-top: 18px;
}
.news .news-icon {
  margin-left: 8px;
	width: 30px;
	height: auto;
	background-color: bisque;
}
.news .news-icon:hover {
  cursor: pointer;
}


.right {
  float: right;
}

#news-container {
  margin-left: 10vw;
  margin-right: 10vw;
  min-height: calc(100vh - 25vh - 11.5vh);
}
/*  MEDIA QUERY

  --> for all divices 
  --> max-with: 600px 

*/

@media all and (max-width: 600px){
  /*
    -------- NAV-BAR --------
  */ 
  .menu{
    background-color: transparent;
  }
  .menuContainer {
    display: none;
  }
  #logo{
    display: none;
  }
  .icon {
    display: none;
  }
  .dropbtn {
    background-color: #44aa00;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid white;
    cursor: pointer;
    display: block;
  }
  .menu {
    position: fixed;
    display: inline-block;
  }
 .menuContainer {
    display: none;
    position: relative;
    border: 1px solid white;
    background-color: gray;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 90%;
  }
  .menuContainer a {
    padding: 10px 12px;
    text-decoration: none;
    display: block;
  }
  .show {display: block;}
   /*
    -------- BANNER --------
  */
  #banner_full {
    background-image: url(https://cdn.gutekueche.de/upload/rezept/10862/1600x1200_rib-eye-steak.jpg);
    position: relative;
    width: 100%;
    height: fit-content;
  }
  #banner_full .banner_logo {
      position: relative;
      color: white;
      text-shadow: 0 0 15px #000;
      font-weight: bold;
      font-family: "Lucida Console", Courier, monospace;
      text-align: center;
      font-size: 50px;
      top: 1px;
  }
  #banner_full .banner_logo img {
    display: none;
  }
  /*
    -------- FOOTER --------
  */
  #impressum {
    display: flex;
    width: fit-content;
  }
  #btnImpressum {
    width: fit-content;
    height: fit-content;
    margin-left: 3vw;
    background-color: #67811a;
  }
  /*
   -------- NEWS --------
  */
}