html, body{
  margin: 0;
	padding: 0;
	background-color: #DDEEDD;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: rgb(179, 179, 179);
}

ul.news-list{
  list-style-type: none;
}

.news-container{
  margin-left: 10vw;
  margin-right: 10vw;
  background-color:lightgray;
  outline: 2px solid gray;
}

.underline {
  border-bottom: 2px solid #808080;
  width: 95%;
}

#change{
  position: absolute;
  left: 80vw;
  cursor: pointer;
  height: 20px;
  width: 20px;
  outline: 1px solid black;
  outline-offset: 1px;
}
#delete{
  position: absolute;
  left: 82vw;
  cursor: pointer;
  height: 20px;
  width: 20px;
  outline: 1px solid black;
  outline-offset: 1px;
}

#submit{
  position: absolute;
  left: 84vw;
  cursor: pointer;
  height: 20px;
  width: 20px;
  outline: 1px solid black;
  outline-offset: 1px;
}
#area{
  width: 80%;
  height: 10%;
}
