#footer {
  background-color: lightgray;
  height: 11.5%;
  width: 100%;
  outline: 4px solid darkgray;
  outline-offset: -4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
}
#impressum {
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
}
#btnImpressum {
  height: 15%;
  margin-left: 3vw;
  background-color: lightgray;
  border: 2px sold darkgray;
  width: fit-content;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid darkgray;
}
.noDeco {
  text-decoration: none;
  color: black;
}

