
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: rgb(255, 255, 255);
	width: 100%;
}

#page {
	width: 96%;
	display: block;
	font-size: large;
	min-height: calc(100vh - 25vh - 11.5vh);
	margin: 2%;
	background-color: lightgray;
}
#bon-page{
	background-color: lightgray;
	margin: 2%;
}

#left {
	display: inline-block;
    width: 50%;
	margin-left: 10%;
}

#methode {
	padding: 20px;
}

.count input {
	width: 100%;
}

#right {
	float: right;
    margin-top: 4vh;
	margin-right: 10vw;
    width: max-content;
	text-align: right;
}
.small {
	font-size: small;
}
#right #submit {
	width: 100%;
}

.tableWrapper{
	width: 80%;
	height: 25%;
	overflow: auto;
}

table {
	width: 100%;
}

td.num{
	width: 15%;
}

td.name{
	width: 60%;
}

td.price td.count td.remove {
	width: 15%;
}

td.count {
	padding: 5px;
}

td.remove {
	padding: 5px;
}

tr:nth-child(even) {
	background-color: #a7a7a7;
}

#noticeWrapper{
	margin-top: 5%;
}

#notice{
	height: 10%;
	width: 80%;
	overflow: auto;
	resize: none;
	font-weight: bold;
	font-size: 16px;
}
#order{
	width: 15%;
	left: 83%;
	top: 70%;
  }
/*  MEDIA QUERY

  --> for all divices 
  --> max-with: 600px 

*/
@media all and (max-width: 600px){
	/*
	  -------- NAV-BAR --------
	*/ 
  .menu{
	background-color: transparent;
	position: fixed;
	display: inline-block;
  }
  #logo{
	display: none;
  }
  .icon {
	position: absolute;
	display: block;
	max-block-size: 4vw;
  }
  #cart {
	left: 22%;
	top: 92%;
  }
  #controlIcon {
	left: 62%;
	top: 92%;
  }
  #login{
	padding: 6px;
  }
  #profilLink{
	padding: 6px;
  }
  #summary{
	padding: 6px;
	margin: 0px;
  }
  #controlPanel{
	left: 43%;
	top: 100%;
	display: none;
	color: black;
	background-color: gray;
	position: absolute;
	width: fit-content;
	border: 2px solid white;
	font-weight: bold;
	border-radius: 0px;
	opacity: 90%;
	margin: 0px;
	padding: 0px;
  }
  #order{
	width: 15%;
	left: 43%;
	top: 85%;
  }
  .noDeco {
	background-color: transparent;
  }
  .dropbtn {
	background-color: lightgray;
	padding: 5px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border: 1px solid white;
	cursor: pointer;
	display: block;
  }
  .menuContainer {
	display: none;
	position: relative;
	border: 1px solid white;
	background-color: gray;
	max-width: 50vw;
	height: fit-content;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	opacity: 90%;
  }
  .menuContainer a {
	padding: 10px 12px;
	text-decoration: none;
	display: block;
  }
  .show {display: block;}
	 /*
	  -------- BANNER --------
	*/
	#banner_full {
	  background-image: url(https://cdn.gutekueche.de/upload/rezept/10862/1600x1200_rib-eye-steak.jpg);
	  position: relative;
	  width: 100%;
	  height: fit-content;
	}
	#banner_full .banner_logo {
		position: relative;
		color: white;
		text-shadow: 0 0 15px #000;
		font-weight: bold;
		font-family: "Lucida Console", Courier, monospace;
		text-align: center;
		font-size: 50px;
		top: 1px;
	}
	#banner_full .banner_logo img {
	  display: none;
	}
	/*
	  -------- FOOTER --------
	*/
	#impressum {
	  display: flex;
	  width: fit-content;
	}
	#btnImpressum {
	  width: fit-content;
	  height: fit-content;
	  margin-left: 3vw;
	  background-color: lightgray;
	}

	/*
	 -------- CART --------
	*/
	
body {
	margin: 0;
	padding: 0;
	background-color: #DDEEDD;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: rgb(255, 255, 255);
	}
	#page {
		width: 96%;
		height: auto;
		background-color: lightgray;
		margin: 2%;
	}
	#methode {
		padding: 0px;
		border-bottom: 1px solid;
		margin-bottom: 20px;
	}
	#left {
		padding: 10px;
		width: 80%;
		margin-left: 0%;
	}
	#right {
		position: relative;
		border-top: 1px solid;
		float: left;
		width: 80%;
		text-align: left;
		background-color: lightgray;
		margin-bottom: 2%;
		padding-left: 2%;
		padding-right: 18%;
		padding-bottom: 2%;
	}
}